/* Header */
.h_nav {
    background-color: #2874f0;
}


.text-white {
    color: #fff;
}

.navbar-brand {
    padding-left: 30px;
}

.fa-search{
    color: #2874f0;
    font-size: 1.2em; /* In px = 18px , LARGE , 1.3 em */
    margin-left: -30px;
    padding: 6px;
}
/*
.h_top_nav a{ 
    color: #fff;
    font-size: 0.9em; /* In px = 14.4px 
}*/

.h_top_nav .login-btn {
    background-color: #fff;
    color: #2874f0 !important;
    padding: 7px 15px;
    font-weight: 700;
    border-radius: 0px;
}

.h_top_nav .fa-sort-down {
    font-size: 0.9em;
    position: relative;
    top: -3px;
}

.h_top_nav .fa-shopping-cart {
    font-size: 1.2em;
}

/* Category section */
.s_category {
    font-size: small;
    font-weight: 600;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* Deals of the day SECTION */

/*.s_deal {
    margin-top: 10px;
    background-color: #fff;
    border-top: 1px solid #ebebeb;
}*/

.b_deal {
    border-bottom: 1px solid #e6ebed;
}

.deal_box {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.d_s_heading {
    border-bottom: 1px solid #ebebeb;
}

.d_s_content {
    cursor: pointer;
}
.d_s_content-img {
    width: 64px;
    height: 64px;
}

.timer {
    width: 25px;
}
.d-img {
    width: 164px;
    height: 164px;
}

.brand {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}

.discount {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}

.deal {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}